body {
  font-family: sans-serif;
}

#root {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
/* Header Section */
.nav__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lower {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.upper__right a {
  color: green;
}

.upper__right a:nth-child(2) {
  border: 1px solid green;
  padding: 0.5rem;
  border-radius: 5px;
}

.upper__right {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Main Content */
.content {
  margin: 0 auto;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  width: 55%;
  margin: 60px auto 0 auto;
  font-size: 12px;

  & a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__right {
  display: flex;
  gap: 30px;
  font-size: 12px;
  /* border: 2px solid red; */
  & a {
    text-decoration: none;
  }
}
